@model EDMS.Models.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearFounded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearFounded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhoFounded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhoFounded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonForFounding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonForFounding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxExemptNonProfitStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxExemptNonProfitStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyWords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyWords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyActivities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyActivities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfEmployees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfVolunteers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfVolunteers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfProjectPartners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfProjectPartners)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommunitiesNeighborhoodZipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunitiesNeighborhoodZipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Constituency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constituency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FundingSoureces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundingSoureces)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FundingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundingAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartnerOrganizations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerOrganizations)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
