@model EDMS.Models.Organization

@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Survey</h2>
<br />

<div class="form-group">
        @Html.Label("What is the name of your Organization?", new { htmlAttributes = new { @class = "form-control" } })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
 
</div>
<br />
<div class="form-group">
    @Html.Label("Contact Information", new { htmlAttributes = new { @class = "form-control" } })
    <br />

    @Html.Label("Address", new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

    @Html.Label("Phone", new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

</div>